@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 12px;
}

body {
    background: url('./3D.png');
    background-position: 0 10000px;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}
h1 {
    color: orange;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2 {
    color: green;
    font-size: 4rem;
    font-weight: 400;
}

.azad {
    margin-top: 5rem;
    margin-bottom: 5rem;

}

p {
    font-size: 2.5rem;
    color: white;
    line-height: 5rem;
    margin-bottom: 5rem;
}

.btn {
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0.5s;
}

.btn:hover {
    background: burlywood;
}